.card {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.card input[type="text"] {
    padding: 5px;
    font-size: 14px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card .numero {
    font-size: 14px;
    color: #555;
}

#card-excluir {
    background-color: #eb1b0c90;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#card-excluir:hover {
    background-color: #ff0101fd;
    transform: scale(1.05);
    transition: background-color 0.3s ease;
}

#card-button-editar {
    background-color: #072cfd9d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#card-button-editar:hover {
    background-color: #1100ff;
    transform: scale(1.05);
    transition: background-color 0.3s ease;
}

#card-button-salvar {
    background-color: #02990fb2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#card-button-salvar:hover {
    background-color: #07a30c;
    transform: scale(1.05);
    transition: background-color 0.3s ease;
}

.card input[type="text"]:not([disabled]) {
    background-color: #0ad9523c;
}