/* styles.css */
body {
    background-color:#2b153e;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Cursive', cursive; /* Altera a fonte para uma fonte mais rústica */
    color:#5a3d8b; /* Cor do título */
  }
  
  .container {
    background-color: #fffedf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Centralizar o conteúdo do container */
  }
  
  .container h1,
  .container h2 {
    text-align: center;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 16px; /* Adiciona espaçamento maior entre os inputs */
  }
  .input-container input {
    margin-left: -9px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: beige;
    color: #333;
    font-family: 'Cursive', cursive; /* Altera a fonte para uma fonte mais rústica */
    font-size: 16px; /* Tamanho da fonte maior */
    transition: border-color 0.3s ease;
  }
  
  
  .input-container label {
    display: block;
    font-family: 'Cursive', cursive; /* Altera a fonte para uma fonte mais rústica */
    font-size: 18px; /* Tamanho da fonte maior */
    margin-bottom: 4px; /* Espaçamento inferior menor entre o label e o input */
  }
  /* Efeito de hover para os inputs */
  .input-container input:hover {
    border-color: #3628ff; /* Cor da borda amarela no hover */
  }
  
  /* Efeito de foco (quando o input está selecionado) */
  .input-container input:focus {
    border-color: #0f07ff; /* Cor da borda amarela quando em foco */
    outline: none; /* Remove a borda padrão do navegador */
    box-shadow: 0 0 6px rgba(86, 84, 226, 0.5); /* Adiciona uma sombra sutil */
  }
  
  /* Novo estilo para o título fora do container */
  #title {
    font-size: 36px; /* Tamanho maior */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color:#5a3d8b; /* Cor do título */
  }
  
  .button {
    font-family: 'Cursive', cursive; /* Altera a fonte para uma fonte mais rústica */
    background-color: #867fd4; /* Amarelo */
    color: white; /* Texto branco */
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição suave na cor de fundo */
  }
  
  /* Efeito de hover para o botão */
  .button:hover {
    background-color: #05491aa0; /* Amarelo mais claro no hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho no hover */
  }

  h2 {
    color: #5a3d8b;
  }

  .redes {
    margin-top: 27px;
    display: flex;
    justify-content: space-evenly;
  }

  #git {
    color: #160404e0;
  }

  
  #insta {
    color: #a839a1e0;
  }

  
  #linkedin {
    color: #1960dbe0;
  }