/* Estilos para a tela de cadastro de contatos */
.cadastro-contatos {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.cadastro-contatos h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cadastro-contatos label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.cadastro-contatos input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro-contatos button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-contatos button:hover {
  background-color: #0056b3;
}

/* Estilos para a tela de pesquisa de contatos */
.pesquisa-contatos {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.pesquisa-contatos h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.pesquisa-contatos input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pesquisa-contatos button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pesquisa-contatos button:hover {
  background-color: #0056b3;
}

.pesquisa-contatos h3 {
  font-size: 18px;
  margin-top: 20px;
}

.pesquisa-contatos ul {
  list-style-type: none;
  padding: 0;
}

.pesquisa-contatos li {
  margin-bottom: 10px;
}
